## Import library and datasets

In [35]:
# Importing libraries
import pandas as pd    
import numpy as np
# Reading data to Dataframes
    
data_train = pd.read_csv('Datasets/train.csv')
data_test = pd.read_csv('Datasets/test.csv')
data_check = pd.read_csv('Datasets/test_result.csv')

In [36]:
#changing column name
    
data_train = data_train.rename(columns = {'Pclass' : 'TicketClass'})
data_test = data_test.rename(columns = {'Pclass' : 'TicketClass'})

In [37]:
#Removing unused columns
data_train = data_train.drop(['Name','Ticket','Fare','Cabin','Embarked','Age'],axis =1)
data_test = data_test.drop(['Name','Age','Ticket','Fare','Cabin','Embarked'], axis =1)

In [38]:
data_test.head()

   PassengerId  TicketClass     Sex  SibSp  Parch
0          892            3    male      0      0
1          893            3  female      1      0
2          894            2    male      0      0
3          895            3    male      0      0
4          896            3  female      1      1

In [39]:
#Importing LabelEncoder from Sklearn
from sklearn.preprocessing import LabelEncoder
label_encoder_sex = LabelEncoder()

In [47]:
# Transforming sex column values using label Encoder
data_train.iloc[:,3]  = label_encoder_sex.fit_transform(data_train.iloc[:,3])
data_test.iloc[:,1] = label_encoder_sex.fit_transform(data_test.iloc[:,1])

In [48]:
data_train = data_train[['PassengerId','Sex','SibSp','Parch','TicketClass','Survived']]
data_test = data_test[['PassengerId','Sex','SibSp','Parch','TicketClass']]

In [50]:
data_train.head()
data_test.head()

   PassengerId  Sex  SibSp  Parch  TicketClass
0          892    1      0      0            2
1          893    0      1      0            2
2          894    1      0      0            1
3          895    1      0      0            2
4          896    0      1      1            2

In [51]:
X_train = data_train.iloc[:,0:5]
y_train = data_train.iloc[:,5]

In [52]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(data_test)

In [53]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [54]:
classifier = Sequential()

In [55]:
#Input layer with 5 inputs neurons
classifier.add(Dense(3,  activation = 'relu', input_dim = 5))
#Hidden layer
classifier.add(Dense(2,  activation = 'relu'))
#output layer with 1 output neuron which will predict 1 or 0
classifier.add(Dense(1, activation = 'sigmoid'))

In [56]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [57]:
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
90/90 [==============================] - 0s 884us/step - loss: 0.6415 - accuracy: 0.6958
Epoch 2/100
90/90 [==============================] - 0s 875us/step - loss: 0.6197 - accuracy: 0.7093
Epoch 3/100
90/90 [==============================] - 0s 910us/step - loss: 0.5970 - accuracy: 0.7306
Epoch 4/100
90/90 [==============================] - 0s 886us/step - loss: 0.5732 - accuracy: 0.7666
Epoch 5/100
90/90 [==============================] - 0s 901us/step - loss: 0.5490 - accuracy: 0.7811
Epoch 6/100
90/90 [==============================] - 0s 895us/step - loss: 0.5292 - accuracy: 0.7845
Epoch 7/100
90/90 [==============================] - 0s 906us/step - loss: 0.5121 - accuracy: 0.7789
Epoch 8/100
90/90 [==============================] - 0s 898us/step - loss: 0.4972 - accuracy: 0.7924
Epoch 9/100
90/90 [==============================] - 0s 930us/step - loss: 0.4873 - accuracy: 0.7924
Epoch 10/100
90/90 [==============================] - 0s 867us/step - loss: 0.4806 - accuracy: 0.7969
Epoch 11/100
90/90 [==============================] - 0s 960us/step - loss: 0.4751 - accuracy: 0.7991
Epoch 12/100
90/90 [==============================] - 0s 896us/step - loss: 0.4707 - accuracy: 0.7946
Epoch 13/100
90/90 [==============================] - 0s 900us/step - loss: 0.4672 - accuracy: 0.8002
Epoch 14/100
90/90 [==============================] - 0s 927us/step - loss: 0.4654 - accuracy: 0.7935
Epoch 15/100
90/90 [==============================] - 0s 888us/step - loss: 0.4635 - accuracy: 0.7946
Epoch 16/100
90/90 [==============================] - 0s 867us/step - loss: 0.4616 - accuracy: 0.7991
Epoch 17/100
90/90 [==============================] - 0s 902us/step - loss: 0.4599 - accuracy: 0.7969
Epoch 18/100
90/90 [==============================] - 0s 885us/step - loss: 0.4588 - accuracy: 0.7935
Epoch 19/100
90/90 [==============================] - 0s 926us/step - loss: 0.4576 - accuracy: 0.8002
Epoch 20/100
90/90 [==============================] - 0s 884us/step - loss: 0.4565 - accuracy: 0.8002
Epoch 21/100
90/90 [==============================] - 0s 872us/step - loss: 0.4552 - accuracy: 0.7991
Epoch 22/100
90/90 [==============================] - 0s 909us/step - loss: 0.4548 - accuracy: 0.7980
Epoch 23/100
90/90 [==============================] - 0s 910us/step - loss: 0.4539 - accuracy: 0.7980
Epoch 24/100
90/90 [==============================] - 0s 928us/step - loss: 0.4529 - accuracy: 0.7980
Epoch 25/100
90/90 [==============================] - 0s 885us/step - loss: 0.4522 - accuracy: 0.7969
Epoch 26/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4520 - accuracy: 0.7957
Epoch 27/100
90/90 [==============================] - 0s 888us/step - loss: 0.4511 - accuracy: 0.7969
Epoch 28/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4498 - accuracy: 0.7969
Epoch 29/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4491 - accuracy: 0.7991
Epoch 30/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4489 - accuracy: 0.8025
Epoch 31/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4480 - accuracy: 0.7991
Epoch 32/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4488 - accuracy: 0.8036
Epoch 33/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4473 - accuracy: 0.8036
Epoch 34/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4471 - accuracy: 0.7991
Epoch 35/100
90/90 [==============================] - 0s 876us/step - loss: 0.4464 - accuracy: 0.8002
Epoch 36/100
90/90 [==============================] - 0s 903us/step - loss: 0.4459 - accuracy: 0.8002
Epoch 37/100
90/90 [==============================] - 0s 852us/step - loss: 0.4454 - accuracy: 0.7991
Epoch 38/100
90/90 [==============================] - 0s 920us/step - loss: 0.4451 - accuracy: 0.7991
Epoch 39/100
90/90 [==============================] - 0s 950us/step - loss: 0.4448 - accuracy: 0.8025
Epoch 40/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4445 - accuracy: 0.7980
Epoch 41/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4443 - accuracy: 0.7991
Epoch 42/100
90/90 [==============================] - 0s 911us/step - loss: 0.4435 - accuracy: 0.7980
Epoch 43/100
90/90 [==============================] - 0s 879us/step - loss: 0.4430 - accuracy: 0.8013
Epoch 44/100
90/90 [==============================] - 0s 928us/step - loss: 0.4427 - accuracy: 0.7969
Epoch 45/100
90/90 [==============================] - 0s 873us/step - loss: 0.4429 - accuracy: 0.7980
Epoch 46/100
90/90 [==============================] - 0s 945us/step - loss: 0.4421 - accuracy: 0.8025
Epoch 47/100
90/90 [==============================] - 0s 912us/step - loss: 0.4421 - accuracy: 0.8002
Epoch 48/100
90/90 [==============================] - 0s 910us/step - loss: 0.4415 - accuracy: 0.8002
Epoch 49/100
90/90 [==============================] - 0s 904us/step - loss: 0.4407 - accuracy: 0.8002
Epoch 50/100
90/90 [==============================] - 0s 920us/step - loss: 0.4407 - accuracy: 0.8036
Epoch 51/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4401 - accuracy: 0.8013
Epoch 52/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4400 - accuracy: 0.7991
Epoch 53/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4392 - accuracy: 0.8058
Epoch 54/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4387 - accuracy: 0.7991
Epoch 55/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4386 - accuracy: 0.8013
Epoch 56/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4384 - accuracy: 0.8036
Epoch 57/100
90/90 [==============================] - 0s 975us/step - loss: 0.4377 - accuracy: 0.8070
Epoch 58/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4378 - accuracy: 0.8013
Epoch 59/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4372 - accuracy: 0.8036
Epoch 60/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4366 - accuracy: 0.8058
Epoch 61/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4369 - accuracy: 0.8092
Epoch 62/100
90/90 [==============================] - 0s 847us/step - loss: 0.4365 - accuracy: 0.8114
Epoch 63/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4357 - accuracy: 0.8114
Epoch 64/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4353 - accuracy: 0.8058
Epoch 65/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4355 - accuracy: 0.8081
Epoch 66/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4351 - accuracy: 0.8070
Epoch 67/100
90/90 [==============================] - 0s 951us/step - loss: 0.4347 - accuracy: 0.8081
Epoch 68/100
90/90 [==============================] - 0s 892us/step - loss: 0.4343 - accuracy: 0.8081
Epoch 69/100
90/90 [==============================] - 0s 922us/step - loss: 0.4341 - accuracy: 0.8070
Epoch 70/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4338 - accuracy: 0.8092
Epoch 71/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4341 - accuracy: 0.8081
Epoch 72/100
90/90 [==============================] - 0s 934us/step - loss: 0.4337 - accuracy: 0.8092
Epoch 73/100
90/90 [==============================] - 0s 904us/step - loss: 0.4333 - accuracy: 0.8025
Epoch 74/100
90/90 [==============================] - 0s 893us/step - loss: 0.4329 - accuracy: 0.8047
Epoch 75/100
90/90 [==============================] - 0s 895us/step - loss: 0.4334 - accuracy: 0.8036
Epoch 76/100
90/90 [==============================] - 0s 897us/step - loss: 0.4328 - accuracy: 0.8070
Epoch 77/100
90/90 [==============================] - 0s 911us/step - loss: 0.4329 - accuracy: 0.8058
Epoch 78/100
90/90 [==============================] - 0s 899us/step - loss: 0.4327 - accuracy: 0.8025
Epoch 79/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4327 - accuracy: 0.8002
Epoch 80/100
90/90 [==============================] - 0s 1ms/step - loss: 0.4321 - accuracy: 0.7991
Epoch 81/100
90/90 [==============================] - 0s 959us/step - loss: 0.4316 - accuracy: 0.8025

Epoch 82/100
90/90 [==============================] - 0s 883us/step - loss: 0.4316 - accuracy: 0.8002
Epoch 83/100
90/90 [==============================] - 0s 895us/step - loss: 0.4317 - accuracy: 0.8002
Epoch 84/100
90/90 [==============================] - 0s 862us/step - loss: 0.4314 - accuracy: 0.8025
Epoch 85/100
90/90 [==============================] - 0s 878us/step - loss: 0.4313 - accuracy: 0.8070
Epoch 86/100
90/90 [==============================] - 0s 863us/step - loss: 0.4316 - accuracy: 0.8025
Epoch 87/100
90/90 [==============================] - 0s 970us/step - loss: 0.4308 - accuracy: 0.8047
Epoch 88/100
90/90 [==============================] - 0s 969us/step - loss: 0.4307 - accuracy: 0.8036
Epoch 89/100
90/90 [==============================] - 0s 958us/step - loss: 0.4307 - accuracy: 0.8070
Epoch 90/100
90/90 [==============================] - ETA: 0s - loss: 0.4377 - accuracy: 0.79 - 0s 888us/step - loss: 0.4304 - accuracy: 0.8025
Epoch 91/100
90/90 [==============================] - 0s 853us/step - loss: 0.4310 - accuracy: 0.8036
Epoch 92/100
90/90 [==============================] - 0s 869us/step - loss: 0.4302 - accuracy: 0.8058
Epoch 93/100
90/90 [==============================] - 0s 858us/step - loss: 0.4299 - accuracy: 0.8058
Epoch 94/100
90/90 [==============================] - 0s 912us/step - loss: 0.4298 - accuracy: 0.8058
Epoch 95/100
90/90 [==============================] - 0s 979us/step - loss: 0.4295 - accuracy: 0.8025
Epoch 96/100
90/90 [==============================] - 0s 984us/step - loss: 0.4297 - accuracy: 0.8025
Epoch 97/100
90/90 [==============================] - 0s 919us/step - loss: 0.4293 - accuracy: 0.8036
Epoch 98/100
90/90 [==============================] - 0s 854us/step - loss: 0.4290 - accuracy: 0.8058
Epoch 99/100
90/90 [==============================] - 0s 844us/step - loss: 0.4296 - accuracy: 0.8058
Epoch 100/100
90/90 [==============================] - 0s 875us/step - loss: 0.4293 - accuracy: 0.8013

In [58]:
#getting predictions of test data
prediction = classifier.predict(X_test).tolist()
# list to series
se = pd.Series(prediction)
# creating new column of predictions in data_check dataframe
data_check['check'] = se
data_check['check'] = data_check['check'].str.get(0)

In [59]:
series = []
for val in data_check.check:
    if val >= 0.5:
        series.append(1)
    else:
        series.append(0)
data_check['final'] = series

In [60]:
match = 0
nomatch = 0
for val in data_check.values:
    if val[1] == val[3]:
        match = match +1
    else:
        nomatch = nomatch +1

In [61]:
print(match)
print(nomatch)

387
31

In [62]:
data_check.head(100)

    PassengerId  Survived     check  final
0           892         0  0.140799      0
1           893         1  0.560904      1
2           894         0  0.115947      0
3           895         0  0.140603      0
4           896         1  0.508709      1
..          ...       ...       ...    ...
95          987         0  0.134717      0
96          988         1  0.974562      1
97          989         0  0.134591      0
98          990         1  0.621138      1
99          991         0  0.134465      0

[100 rows x 4 columns]

In [63]:
data_check = data_check.drop(['Survived','check'], axis=1)

In [64]:
data_check.head(100)

    PassengerId  final
0           892      0
1           893      1
2           894      0
3           895      0
4           896      1
..          ...    ...
95          987      0
96          988      1
97          989      0
98          990      1
99          991      0

[100 rows x 2 columns]

In [65]:
data_check = data_check.rename(columns = {'final' : 'Survived'})

In [66]:
data_check = data_check.drop(data_check.columns[[0]], axis=1)

In [67]:
data_check.head(100)

    Survived
0          0
1          1
2          0
3          0
4          1
..       ...
95         0
96         1
97         0
98         1
99         0

[100 rows x 1 columns]

In [68]:
data_check.to_csv('cnn solve.csv')

PermissionError: [Errno 13] Permission denied: 'cnn solve.csv'